
form .form-floating label {
	left: .5rem;
}

.h-90vh{
	height: 90vh;
}
.h-100vh{
	height: 100vh;
}

.border-translucent{
	border-color: rgba(0,0,0,.175) !important;
}
.border-translucent:hover{
/* 	border-color: red !important; */
}
